<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div>
        <label>用户名：</label>
        <input type="text" id="name" name="username"/>
    </div>
    <div>
        <label>密码：</label>
        <input type="password" id="pwd" name="pwd"/>
    </div>
    <div>
        <label>邮箱：</label>
        <input type="email" id="email" name="email" placeholder="选填"/>
    </div>
     <div>
        <label>注册时间：</label>
        <input type="text" id="time" name="time" disabled/>
    </div>
    <input type="submit" value="注册"/>

</form>
</body>
<script>
       init();
    function init(){
        now=new Date();
        $("#time").val(now)
        validate();
    }
    function validate() {
        $("form").validate({
            rules: {
                username: {
                    required: true,
                },
                pwd: {
                    required: true,
                }
            },
            messages:{
                username:{
                    required:"请填写此处",

                },
                pwd:{
                    required:"请填写此处",
                }
            },
            submitHandler:function (form){
            {##表单提交之前的处理#}
                $("form").ajaxSubmit(function (message){
                    var data=JSON.parse(message);
                        alert(123)
                })
            }
        })
    }
</script>
</html>